%ul.nav.navbar-nav.navbar-right.root_links
  - actions(:root).each do |action|
    %li{class: "#{action.action_name}_root_link"}= link_to wording_for(:menu, action), { action: action.action_name, controller: 'rails_admin/main'.to_sym }, class: 'pjax'
  - main_app_root_path = (main_app.root_path rescue false)
  - if main_app_root_path
    %li= link_to t('admin.home.name'), main_app_root_path
  - if _current_user
    - user_link = rails_admin_edit_user_link
    - if user_link
      %li.edit_user_root_link= user_link
    - if logout_path.present?
      %li= link_to content_tag('span', t('navigation.logout'), class: 'label label-danger'), logout_path, method: logout_method
