<h1>Dashboard</h1>

<h3>Active rentals</h3>

<% if not @user.rentals.active.empty? %>

  <% @user.rentals.active.each_slice(3) do |rentals| %>
    <div class="row">
      <% rentals.each do |rental| %>
        <%= render partial: 'books/dashboard_item', locals: { rental: rental, active: true } %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'books/return_modal' %>
<% else %>
  <table class="table table-striped">
    <td>
      <p class="lead text-center">No Active Rentals</p>
    </td>
  </table>
<% end %>

<h3>Past rentals</h3>
<% if not @user.rentals.returned.empty? %>

  <% @user.rentals.returned.each_slice(3) do |rentals| %>
    <div class="row">
      <% rentals.each do |rental| %>
        <%= render partial: 'books/dashboard_item', locals: { rental: rental } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <table class="table table-striped">
    <td>
      <p class="lead text-center">No Past Rentals</p>
    </td>
  </table>
<% end %>
