<h1>Books</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>SKU</th>
    <th colspan="4">State</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <%= render partial: 'books_row', locals: { book: book } %>
  <% end %>
  </tbody>
</table>
<% if can? :create, Book %>
  <%= link_to 'Add a book', new_book_path, :class => 'btn btn-success' %>
<% end %>