.or-container {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: grey;
    font-variant: small-caps;
}
.or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
}
#or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
}
